body{
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.app{
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
}
.input-section{
    display: flex;
    gap: 10px;

}
button{
    padding: 10px;
    cursor: pointer;
    background-color: gray;
    font-weight: bold;
}
li{
    list-style: none;
    margin-top: 10px;
    padding: 5px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    flex: 1;
    padding: 8px;
}
.status{
    font-size: 18px;
    margin-right: 10px;
}
li div{
    display: flex;
    gap: 5px;
    align-items: center;
}
h1{
    color: green;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}